# Aula 1: Data Types - Tipos de Dados
**02/08/2017**

Objetivos:
- Tipos de dados e operações com os dados.
- Números (<tt>int/float/complex</tt>).
- Textos (<tt>list</tt>)
- Tuplas (<tt>tuple</tt>)
- Dicionários (<tt>dict</tt>)
- Conjuntos <tt>set</tt> loops
- Conversão de tipos

Objetos em Python, assim como em várias outras linguagens de programação, são organizados em tipos, chamados __classes__. Pertencendo a uma classe esses objetos podem ser modificados por funções (chamadas __métodos__) definidas para cada classe.
Mais tarde neste curso vamos aprender como criar suas próprias classes e definir métodos que podem ser aplicados aos objetos que pertencem a essa nova classe.
Enquanto isso vamos passar por algumas classes padrão que já nos ajudarão a resolver vários problemas.

<!--Objects in Python, like in many other languages, are organized in types, called __classes__. By belonging to a class, objects can be modified by functions (called __methods__) that are defined for objetcs of that class. Later in the course we will learn how to create our own classes and define methods that apply to objetcs that belong to them. For the time being, let us go through some standard classes that will already take us a long way towards solving problems.-->

In [2]:
! python --version

Python 3.6.8 :: Anaconda, Inc.

# Numbers - Números

Existem três tipos básicos de objetos numéricos no Python.
O primeiro deles é o <tt>int</tt> (para inteiros), como -1, 0, 1, 2 e assim por diante.

<!--There are three basic types of numeric objects in Python. One of then is <tt>int</tt> (for integers), such as -1, 0, 1, 2, and so on.-->

In [3]:
# type(x) returns the type of the object x.
type(3)

int

Outro tipo é o <tt>float</tt>, que guarda números reais.
Você consegue encontrar mais informações sobre como o Python trata o número de casas decimais na [documentação do Python](https://docs.python.org/3/tutorial/floatingpoint.html) (em Inglês).

<!--The other type of numeric object is <tt>float</tt>, that stores real numbers.
For more information on how Python handles floating point arithmetic, see [this](https://docs.python.org/3/tutorial/floatingpoint.html).-->

In [4]:
import sys
sys.float_info.mant_dig

53

In [5]:
type(3.0)

float

E por último <tt>complex</tt> que representa os números complexos. Entenda os números complexos e suas opeções nesta sequencia de vídeos: [Números complexos em pt_br](https://youtu.be/nprqf6DKeyI)

<!--One can also represent complex numbers (<tt>complex</tt>). A quick refresher on complex numbers can be found [here](https://en.wikipedia.org/wiki/Complex_number) and [here](http://mathworld.wolfram.com/ComplexNumber.html).-->

In [6]:
type(3.0+0j)

complex

In [7]:
type(complex(3,0))

complex

Note que mesmo <tt>int</tt> 3, <tt>float</tt> 3.0, e <tt>complex</tt> 3.0+0j representem a mesma quantidade, o Python vai tratá-los como objetos diferente.

<!--Notice that although the <tt>int</tt> 3, the <tt>float</tt> 3.0, and the <tt>complex</tt> 3.0+0j represent the same quantity, Python will treat them as different objetcs.-->

In [8]:
# id(x) returns the the address of the object in memory
print(id(3))
print(id(3.0))
print(id(3.0+0j))

4402206192
4440060840
4440441680

Algumas operações que podemos fazer com números:

<!--Some operations that we can perform with numbers:-->

In [9]:
# sum
print(2+3)
print(2+3.0)
print(2+3.0+4+3j)

5
5.0
(9+3j)

Note que adicionar dois <tt>int</tt> vai retornar um <tt>int</tt>, mas adicionar um <tt>int</tt> e um <tt>float</tt> vai retornar um <tt>float</tt> mesmo que o <tt>float</tt> não tenha casas decimais.
Finalmente, adicionar um <tt>int</tt> ou <tt>float</tt> a um <tt>complex</tt> vai resultar sempre em um objeto <tt>complex</tt>. Essas mesmas regras se aplicam a outras operações envolvendo núnmeros no Python.

<!--Notice that adding two <tt>int</tt>s will return an <tt>int</tt>. But adding an <tt>int</tt> to a <tt>float</tt> will return a <tt>float</tt> (even though the <tt>float</tt> has no decimals). Finally, adding an <tt>int</tt> or a <tt>float</tt> to a <tt>complex</tt> will result in a <tt>complex</tt> object. This rule applies to other operations in Python involving numbers.-->

In [10]:
# multiplication
print(3*5)
print(3.0*5)
print((3+1j)*(1+3j))

15
15.0
10j

In [11]:
# division
print(9/4)
print(10/5)

2.25
2.0

In [12]:
# quotient (9=4*2+1)
9//4

2

In [13]:
# remainder (9=4*2+1)
9%4

1

In [14]:
# exponentiation
print(2**3)
print(pow(2, 3))
print(2.0**3)
print((-1)**.5)

8
8
8.0
(6.123233995736766e-17+1j)

Algumas vezes é conveniente colocar um objeto dentro de uma **variável** que herda várias propriedades do objeto, mas pode ter seu valor alterado posteriormente.
Em várias linguagens de programação, a variável e o tipo de objeto devem ser declarados no início, mas o Python não requer esse tipo de declaração. Além disso o tipo da variável pode alterar ao longo do seu código.

<!--Sometimes it is convenient to assign an object to a **variable**. The variable inherits several properties of the object itself, but can have its values changed later on. In several programming languages, the variable and the type of data it can store have to be declared at the outset. Python does not require such declaration, and the type of variable can change throughout the code.-->

In [15]:
x = 8 # int 8 will be assign to variable x
x

8

**Regras para nomes de variáveis**

* Os nomes das variáveis devem começar com um letra ou "_" (*underscore*).
* O restante do nome pode conter letras, números e underscores.
* Nomes de variáveis no Python são diferentes se escritas em caixa alta ou baixa.

<!--**Variables naming rules**
* Variables names must start with a letter or an underscore.
* The remainder of your variable name may consist of letters, numbers and underscores.
* Names are case sensitive.-->

In [16]:
y = 3 # int 3 is assigned to variable y
print(type(y))
y = 3.0 # float 3.0 is assigned to variable y
print(type(y))

<class 'int'>
<class 'float'>

In [17]:
# one object can be assigned to several variable at the same time
a = b = c = 1
print(a)
print(b)
print(c)

1
1
1

Outra forma de utilizar operações aritiméticas:
<!--Another way to perform basic arithmetic operations:-->

In [18]:
# sum
x = 2
x += 3
print(x)

5

In [19]:
# multiplication
x = 2
x *= 4
print(x)

8

Outras funções (métodos) úteis que se aplicam a números:
<!--Other useful functions (methods) that apply to numbers:-->

In [20]:
# abs(x) returns the absolute value of x
print(abs(-3))
print(abs(-3.0))
print(abs(-3.0+1j))

3
3.0
3.1622776601683795

In [21]:
# int(x) converts float x into an int (x can also be decimal or fraction)
print(int(3.98727364))

3

In [22]:
# float(x) converts int x into a float
print(float(4))

4.0

In [23]:
# x.conjugate() returns the conjugate of the complex x
x = 5+2j
print(x.conjugate())

(5-2j)

Quais são os métodos em um objeto numérico?
<!--What are the methods in a numerical object?-->

In [24]:
x = 1+2j
print(dir(x))

['__abs__', '__add__', '__bool__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__int__', '__le__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__pos__', '__pow__', '__radd__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rmod__', '__rmul__', '__rpow__', '__rsub__', '__rtruediv__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', 'conjugate', 'imag', 'real']

In [25]:
print(x.conjugate.__doc__)

complex.conjugate() -> complex

Return the complex conjugate of its argument. (3-4j).conjugate() == 3+4j.

Uma regra sobre atribuição a um número:
<!--A rule about assignment to a number:-->

In [26]:
a=7 # variable a has been assigned to int 7
b=a # variable b has alsoe been assigned to int 7 (through variable a)
print(a)
print(b)

7
7

In [27]:
a=8 # variable a is now assigned to int 8, but variable b is still assined to 7
print(a)
print(b)

8
7

# Strings - Textos

Um texto ou *string* (<tt>str</tt>) em Python é uma sequência de caracteres.
<!--A string (<tt>str</tt>) is Pyhton is a sequence of characters.-->

In [28]:
type('a string.')

str

Textos podem ser criados colocando a sequência de caracteres dentro de aspas simples ou duplas.
'texto" não é válido! 'texto" = "texto".
<!--Strings can be created by enclosing a sequence of characters in single or double quotes.
'string" is NOT valid! 'string'="string".-->

Qual o tamanho de um texto?
<!--What is the size of a string?-->

In [29]:
len('a string.')

9

In [30]:
r = 'a string. ' # created with single quotes.
s = "another string. " # crated with double quotes.
print(r)
print(s)

a string.
another string.

In [31]:
# Two or more strings can be merged into a single string using the '+' operator.
q = r + s
print(q)

a string. another string.

Números não podem ser fundidos/adicionados com textos em tempo de execução. Para fazer isso, antes é necessário converter o número para texto.
<!--Numbers cannot be merged to strings on the fly. To do so, one has to convert the number to a string before.-->

In [32]:
# str(x) converts number x to a string.
'number two: ' + str(2)

'number two: 2'

Existem métodos para extrair apenas parte de um texto.
<!--There are methods to extract only a portion of a string.-->

In [33]:
# Subset of a string
print(s[3]) # returns the character in position 3 (4th character)
print(s[:3]) # returns the 3 leftmost characters. Notice that the 4th element ('t') is NOT returned.
print(s[3:]) # returns the rightmost characters, starting from position 3 (which is included).
print(s[3:5]) # returns characters in positions 3 and 4.
# other interesting slice methods
print(s[:-2])
print(s[-3:])

t
ano
ther string.
th
another string
g.

Mesmo sendo possível acessar o caracter na posição *i*, não é possível alterá-lo diretamente no texto. <tt>s[3] = "v"</tt> vai retornar um erro.
<!--Although one can access the element in position *i* this way, it is not possible to modify the string directly. <tt>s[3] = "v"</tt> would return an error.-->

Aspas triplas (<tt>'''</tt>) fazem o Python interpretar literlamente qualquer coisa que estiver entre as aspas triplas. Isso incluí quebras de linhas.
<!--Triple quotes (<tt>'''</tt>) interprets literally whatever is between then, including line brakes. -->

In [34]:
print('''One line.
Another line.''')

One line.
Another line.

Existem formas mais elegantes de se adicionar quebras de linha e outros caracteres de controle.
<!--There are more elegant ways to insert line breaks and other control characters.-->

In [35]:
print('One line.\nAnother line.')

One line.
Another line.

Expressões dentro de um texto que tenham o prefixo de uma barra invertida <tt>\</tt> são utilizadas para imprimir sequências, caracteres especiais entre outras coisas. Para inserir um caracter especial ou de controle como uma quebra de linha <tt>\n</tt>, espaçamentos <tt>\t</tt>, ou um espaço <tt>\s</tt>.
<!--Expressions inside a string that are preceeded by a backslash (<tt>\</tt>) are referred to as escape sequences, and are used - among other things - to insert non-printable and especial characters, such as linebreak (<tt>\n</tt>), tab (<tt>\t</tt>), or a single space (<tt>\s</tt>). -->

In [36]:
print("a\ttab.")

a	tab.

Textos também podem ser multiplicados.
<!--Strings can be 'multiplied' too.-->

In [37]:
u = "Timao, eo! "
print(u*2)
print(u*4)

Timao, eo! Timao, eo!
Timao, eo! Timao, eo! Timao, eo! Timao, eo!

Aqui um exemplo mais seguro e flexível para fundir textos usando o método <tt>format</tt>.
<!--Here is a safer, more flexible way to merge strings, using the <tt>format</tt> method.-->

In [38]:
"{0} é {1}".format("Corinthias", "campeão")

'Corinthias é campeão'

<tt>format</tt> takes the first argument ("Corinthians") and assigns it to the variable 0, which is later called inside the string as '<tt>{0}</tt>'.

In [39]:
team = "Corinthians"
adjective = "campeão"
print("{0} é {1}.".format(team, adjective))
team = "Porco"
adjective = "time sem mundial"
print("{0} é {1}.".format(team, adjective))

Corinthians é campeão.
Porco é time sem mundial.

In [40]:
team = "Corinthians"
titles = 7
print("{0} has won the National Soccer Championship {1} times.".format(team, titles))
team = "Porco"
titles = 5
print("{0} has won the National Soccer Championship {1} times.".format(team, titles))

Corinthians has won the National Soccer Championship 7 times.
Porco has won the National Soccer Championship 5 times.

In [41]:
u.upper()

'TIMAO, EO! '

In [42]:
u.lower()

'timao, eo! '

In [43]:
str(6+9j)

'(6+9j)'

In [44]:
u.split()

['Timao,', 'eo!']

In [45]:
s = " ";
q = ("Palmeiras", "não", "tem", "mundial.")
print(s.join(q))

Palmeiras não tem mundial.

In [46]:
print("    Palmeiras não tem mundial.      ".strip())

Palmeiras não tem mundial.

In [47]:
u.find('mao')

2

In [48]:
u.find('mão')

-1

In [49]:
u.index('mao')

2

Outros métodos para textos (string):
<!--Other <tt>string</tt> methods:-->

In [50]:
s = "Another string"
print(dir(s))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [51]:
print(s.startswith.__doc__)

S.startswith(prefix[, start[, end]]) -> bool

Return True if S starts with the specified prefix, False otherwise.
With optional start, test S beginning at that position.
With optional end, stop comparing S at that position.
prefix can also be a tuple of strings to try.

In [52]:
print(s.count.__doc__)

S.count(sub[, start[, end]]) -> int

Return the number of non-overlapping occurrences of substring sub in
string S[start:end].  Optional arguments start and end are
interpreted as in slice notation.

# Lists - Listas

Uma lista (<tt>list</tt>) é uma coleção ordenada de elementos. Cada elemento tem 2 atributos: index (a posição em que ele se encontra, começão do 0) e o valor.
<!--A <tt>list</tt> is an ordered collection of elements. Each element has two attributes: index (the position it is in, *starting from zero*) and value.-->

In [53]:
p = ['Fernando', "Ulisses", 'Aureliano', 'Mário', 'Luis' ]
print(type(p))
print(p)

<class 'list'>
['Fernando', 'Ulisses', 'Aureliano', 'Mário', 'Luis']

O elemento da lista pode ser acessado chamando o *index* dele.
<!--The element of a list can be accessed by calling its index.-->

In [54]:
p[0]

'Fernando'

In [55]:
print('p[{index}] returns {value}'.format(index=0, value=p[0]))
print('p[{index}] returns {value}'.format(index=1, value=p[1]))
print('p[{index}] returns {value}'.format(index=2, value=p[2]))
print('p[{index}] returns {value}'.format(index=3, value=p[3]))
print('p[{index}] returns {value}'.format(index=4, value=p[4]))

p[0] returns Fernando
p[1] returns Ulisses
p[2] returns Aureliano
p[3] returns Mário
p[4] returns Luis

Qual é o tamanho da nossa lista?
<!--What is the size of our list?-->

In [56]:
# len(f) returns the number of elements of list f.
len(p)

5

Uma lista pode ser ordenada (se todos os elementos puderem ser comparados! Vamos ver mais sobre isso nessa sessão. Note que o *index* associado com cada elemento vai ser alterado.
<!--The list can be sorted (if all elements can be compared! More about this later in this section). Notice that the indexes associated with each element will change.-->

In [57]:
print('p before: ' + str(p))
print('p[0] returns ' + str(p[0]))
p.sort() 
print('p after: ' + str(p))
print('p[0] returns ' + str(p[0]))

p before: ['Fernando', 'Ulisses', 'Aureliano', 'Mário', 'Luis']
p[0] returns Fernando
p after: ['Aureliano', 'Fernando', 'Luis', 'Mário', 'Ulisses']
p[0] returns Aureliano

A ordem dos elementos também pode ser revertida.
<!--The order of the elements can also be reversed.-->

In [58]:
print('p before: ' + str(p))
p.reverse() 
print('p after: ' + str(p))

p before: ['Aureliano', 'Fernando', 'Luis', 'Mário', 'Ulisses']
p after: ['Ulisses', 'Mário', 'Luis', 'Fernando', 'Aureliano']

Existem duas formas de adicionar um elemnto a uma lista. O método <tt>append</tt> que vai adicionar o elemento na última posição da lista.
<!--There are two ways to add an element to a list. The method <tt>append</tt> will add the element to the last position.-->

In [59]:
print('p before: ' + str(p))
p.append('Leonel') 
print('p after: ' + str(p))

p before: ['Ulisses', 'Mário', 'Luis', 'Fernando', 'Aureliano']
p after: ['Ulisses', 'Mário', 'Luis', 'Fernando', 'Aureliano', 'Leonel']

Ou adicionar o elemento em uma posição especifica na lista. Neste caso os outros <tt>inedx</tt> também podem ser alterados.
<!--A value can also be added in a specific position. In this scenario, the other indexes may also change.-->

In [60]:
print('p before: ' + str(p))
p.insert(2, "Roberto")
print('p after: ' + str(p))

p before: ['Ulisses', 'Mário', 'Luis', 'Fernando', 'Aureliano', 'Leonel']
p after: ['Ulisses', 'Mário', 'Roberto', 'Luis', 'Fernando', 'Aureliano', 'Leonel']

Elementos de uma lista também podem ser modificados.
<!--Elements of a list can be modified.-->

In [61]:
print('p before: ' + str(p))
p[5] = 'Ronaldo'
print('p after: ' + str(p))

p before: ['Ulisses', 'Mário', 'Roberto', 'Luis', 'Fernando', 'Aureliano', 'Leonel']
p after: ['Ulisses', 'Mário', 'Roberto', 'Luis', 'Fernando', 'Ronaldo', 'Leonel']

Elementos podem ser removidos da lista dependendo do valor ques eles possuem. O método <tt>p.remove(v)</tt> vai remover todos os elementos da lista que tiverem o valor igual a <tt>v</tt>. Os indexes serão alterados nos elementos remanecentes.
<!--Elements can be removed from the list depende on the value they have. The method <tt>p.remove(v)</tt> will remove all the elements whose value is <tt>v</tt>. Indexes will change.-->

In [62]:
print('p before: ' + str(p))
print('p[5] before: ' + str(p[2]))
p.remove("Ronaldo")
print('p after: ' + str(p))
print('p[5] after: ' + str(p[2]))

p before: ['Ulisses', 'Mário', 'Roberto', 'Luis', 'Fernando', 'Ronaldo', 'Leonel']
p[5] before: Roberto
p after: ['Ulisses', 'Mário', 'Roberto', 'Luis', 'Fernando', 'Leonel']
p[5] after: Roberto

Qual o index do elemento "Luis"?
<!--What is the index of "Luis"?-->

In [63]:
p.index("Luis")

3

Também é possível remover um elemento de acordo com seu index. Lembre-se o index é a posição do elemento na lista e ao removê-lo, você pode alterar a posição de outros elementos.
<!--Also possible to remove element according to its index. Remember that the index is the position of the element in the list.-->

In [64]:
# list.pop(i) removes element in position i.
# Notice that the element that has been just excluded is returned by the method.
print('p before: ' + str(p))
print(p.pop(1) + " has just been excluded.")
print('p after: ' + str(p))

p before: ['Ulisses', 'Mário', 'Roberto', 'Luis', 'Fernando', 'Leonel']
Mário has just been excluded.
p after: ['Ulisses', 'Roberto', 'Luis', 'Fernando', 'Leonel']

O método <tt>list.pop()</tt> remove o último elemento da lista (o que tiver o maior index).
<!--<tt>list.pop()</tt> removes the last element of a list (the one with the highest index).-->

Outros métodos das listas (<tt>list</tt>):
<!--Other <tt>list</tt> methods:-->

In [65]:
print(dir(p))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

Um truque que você deve se lembrar e que é verdade para listas e outros objetos **mutáveis**.
<!--A trick that you should remember. It is true for lists and for other **mutable** objetcs.-->

In [66]:
a = ['Corinthians', 'Ponte Preta', 8]

In [67]:
b = a
print("a = " + str(a))
print("b = " + str(b))

a = ['Corinthians', 'Ponte Preta', 8]
b = ['Corinthians', 'Ponte Preta', 8]

<tt>a</tt> e <tt>b</tt> estão apontando para o mesmo objeto na memória, se um muda o outro também vai ser alterado.
<!--<tt>a</tt> and <tt>b</tt> are pointing to the same object in memory.-->

In [68]:
print("id(a) = " + str(id(a)))
print("id(b) = " + str(id(b)))

id(a) = 4441100744
id(b) = 4441100744

Vamos modificar <tt>b</tt>
<!--Let us modify <tt>b</tt>-->

In [69]:
b[2] = "Guarani"
print("b = " + str(b))

b = ['Corinthians', 'Ponte Preta', 'Guarani']

<tt>a</tt> também foi alterado.
<!--<tt>a</tt> was also modified.-->

In [70]:
print("a = " + str(a))

a = ['Corinthians', 'Ponte Preta', 'Guarani']

In [71]:
b = a.copy()

In [72]:
print("id(a) = " + str(id(a)))
print("id(b) = " + str(id(b)))

id(a) = 4441100744
id(b) = 4441102408

Listas podem guardar mais do que um tipo de dados.
<!--Lists can store more than one type of data.-->

In [73]:
p[2] = ["Luis", 13]
print("p = " + str(p))

p = ['Ulisses', 'Roberto', ['Luis', 13], 'Fernando', 'Leonel']

Como fundir/juntar/combinar listas?
<!--How to merge/combine lists?-->

In [74]:
p = ['Ulisses', 'Roberto', 'Luis', 'Fernando', 'Leonel']
r = ['Eneas', 'Marronzinho', 'Correa']
print(p+r)
p.append(r)
print(p)
p = ['Ulisses', 'Roberto', 'Luis', 'Fernando', 'Leonel']
r = ['Eneas', 'Marronzinho', 'Correa']
p.extend(r)
print(p)

['Ulisses', 'Roberto', 'Luis', 'Fernando', 'Leonel', 'Eneas', 'Marronzinho', 'Correa']
['Ulisses', 'Roberto', 'Luis', 'Fernando', 'Leonel', ['Eneas', 'Marronzinho', 'Correa']]
['Ulisses', 'Roberto', 'Luis', 'Fernando', 'Leonel', 'Eneas', 'Marronzinho', 'Correa']

In [75]:
p

['Ulisses',
 'Roberto',
 'Luis',
 'Fernando',
 'Leonel',
 'Eneas',
 'Marronzinho',
 'Correa']

In [76]:
print(sorted(p, reverse=True))

['Ulisses', 'Roberto', 'Marronzinho', 'Luis', 'Leonel', 'Fernando', 'Eneas', 'Correa']

In [77]:
p.sort()

In [78]:
p

['Correa',
 'Eneas',
 'Fernando',
 'Leonel',
 'Luis',
 'Marronzinho',
 'Roberto',
 'Ulisses']

In [79]:
p[1] = "Mário"

In [80]:
p

['Correa',
 'Mário',
 'Fernando',
 'Leonel',
 'Luis',
 'Marronzinho',
 'Roberto',
 'Ulisses']

# Tuples - Tuplas

Uma tupla nada mais é do que uma sequência de objetos em Python que são **imutáveis**. Diferente das listas, assim que criados, não modem ser modificados.
<!--A tuple is a sequence of **immutable** Python objects. Unlike lists, once are created, they cannot be modified.-->

In [81]:
t = (2, 9, 'futebol')
print(type(t))

<class 'tuple'>

Como as tuplas são imutáveis, elas tem apenas um pequeno set de métodos disponíveis para strings.
<!--Since tuples are immutable, they have only a subset of the methods available for strings.-->

In [82]:
t[2] = "rugby"

TypeError: 'tuple' object does not support item assignment

In [83]:
print(dir(t))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [84]:
len(t)

3

In [85]:
# quantos objetos na tupla t são iguais a 2?
t.count(2)

1

# Dictionaries - Dicionários

Dicionários (ou hashes) são tabelas associativas, nas quais indexes são associados com valores.
<!--Dictionaries (or hashes) are associative tables, in which indexes are associated with values.-->

In [86]:
d = { 13: "Lula", 15: "Ulisses", 11: "Maluf", 12: "Brizola", 20: "Collor" }
print(type(d))

<class 'dict'>

Elementos em Dicionários, podem ser acessados da mesma forma que fazemos com listas e tuplas. A chave (key) deve ser única e imutável. Chaves podem ser textos, tuplas ou números.
<!--Dictionary elements can be accessed like we do with lists and tuples. The keys must be unique and immutable. strings, numbers or tuples will work as dictionary keys.-->

In [87]:
d[11]

'Maluf'

In [88]:
d[18] = 'Afif'

In [89]:
d

{13: 'Lula',
 15: 'Ulisses',
 11: 'Maluf',
 12: 'Brizola',
 20: 'Collor',
 18: 'Afif'}

In [90]:
f = d

In [91]:
f[11] = ' Afif'

In [92]:
d

{13: 'Lula',
 15: 'Ulisses',
 11: ' Afif',
 12: 'Brizola',
 20: 'Collor',
 18: 'Afif'}

Existem métodos <tt>dict</tt> que permitem acessar as chaves e valores do dicionário.
<!--There are <tt>dict</tt> methods that allow us to access the keys and values of the dictionary.-->

In [93]:
alunos = {}

In [94]:
alunos[9321936] = {'nome': 'João', 'idade': 21, 'esporte': 'volei'}

In [95]:
alunos[9625728] = {'nome': 'Gabriel', 'idade': 22, 'esporte': 'Sporti'}

In [96]:
alunos

{9321936: {'nome': 'João', 'idade': 21, 'esporte': 'volei'},
 9625728: {'nome': 'Gabriel', 'idade': 22, 'esporte': 'Sporti'}}

In [97]:
alunos[9321936]['idade']+alunos[9625728]['idade']

43

In [98]:
print("keys: " + str(alunos.keys()))
print("values: " + str(alunos.values()))

keys: dict_keys([9321936, 9625728])
values: dict_values([{'nome': 'João', 'idade': 21, 'esporte': 'volei'}, {'nome': 'Gabriel', 'idade': 22, 'esporte': 'Sporti'}])

In [99]:
print(d.values.__doc__)

D.values() -> an object providing a view on D's values

In [100]:
print(d.items())

dict_items([(13, 'Lula'), (15, 'Ulisses'), (11, ' Afif'), (12, 'Brizola'), (20, 'Collor'), (18, 'Afif')])

In [101]:
print(dir(d))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

Dicionários, são mutáveis e podem ser alterados basicamente da mesma forma que fizemos com as listas. Isso não se aplica a strings e tuples que são imutáveis.
<!--Dictionaries are mutable, and can be modified pretty much the same we did for lists. This is not true for strings and tuples, which are immutable.-->

Como deletar entradas no dicionário?
<!--How to delete one of the entries?-->

In [102]:
del d[11]
print(d)

{13: 'Lula', 15: 'Ulisses', 12: 'Brizola', 20: 'Collor', 18: 'Afif'}

Combinando dois dicionários:
<!--Combining two dictionaries:-->

In [103]:
e = { 43: "Gabeira", 33: 'Brant', 22: 'Afif' }
d.update(e)
print(d)

{13: 'Lula', 15: 'Ulisses', 12: 'Brizola', 20: 'Collor', 18: 'Afif', 43: 'Gabeira', 33: 'Brant', 22: 'Afif'}

E se tentarmos acessar um index que não existe?
<!--What if one tries to access an index that does not exist?-->

In [104]:
print(d.get(30)) # default
print(d.get(30, "Não existe"))

None
Não existe

# Sets - Conjuntos

In [117]:
l = [1, 2, 3, 1, 3, 3, 2]
print("list l = " + str(l))
sl = set(l)
print("set(l) = " + str(sl))
print(type(sl))

list l = [1, 2, 3, 1, 3, 3, 2]
set(l) = {1, 2, 3}
<class 'set'>

In [106]:
dir(sl)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

# Converting between types - Convertendo entre os tipos de dados

In [107]:
t = (1,2,3)
type(t)

tuple

In [108]:
lt = list(t)

In [109]:
print(lt)

[1, 2, 3]

In [110]:
tlt = tuple(lt)
print(tlt)

(1, 2, 3)

In [111]:
list('abcde')

['a', 'b', 'c', 'd', 'e']

In [112]:
lt

[1, 2, 3]

In [113]:
mt = list(lt)

In [114]:
mt

[1, 2, 3]

In [115]:
mt[0]=7
print(mt)

[7, 2, 3]

In [116]:
lt

[1, 2, 3]