# SQL

Conectando em um banco postgres remoto com psycopg2

In [1]:
import pandas as pd
import pandas.io.sql as sqlio
import psycopg2
import numpy as np
from sqlalchemy import create_engine
import io

host = 'brdh2-ds2019.cpvwsnqnnd2w.us-east-1.rds.amazonaws.com'
port = 5432
dbname = 'db3'
username = 'digitalhouse'
pwd = 'Digitalh'

conn = psycopg2.connect(f"host='{host}' port={port}  dbname='{dbname}' user={username} password={pwd}")

OperationalError: could not translate host name "data-science.cjkghcc9gsud.us-east-1.rds.amazonaws.com" to address: nodename nor servname provided, or not known

In [2]:
query = 'SELECT * FROM teste5'
df = sqlio.read_sql_query(query, conn)

In [3]:
df

   index  a  b
0      0  1  4
1      1  2  3
2      2  3  2
3      3  4  1
4      4  0  0
5      5  1  1
6      6  2  2
7      7  3  3
8      8  4  4

Criando tabela no schema de treino

In [4]:
%time df = pd.DataFrame({'col1':np.random.random(1000) , 'col2':np.random.random(1000)})
df.head(10)

CPU times: user 1.04 ms, sys: 743 µs, total: 1.78 ms
Wall time: 1.04 ms

       col1      col2
0  0.237575  0.313269
1  0.135886  0.245108
2  0.803706  0.380767
3  0.578443  0.160269
4  0.898139  0.492082
5  0.682028  0.468385
6  0.853587  0.138461
7  0.004633  0.237382
8  0.873710  0.609603
9  0.334734  0.015687

In [5]:
engine = create_engine('postgresql://trainingwrite:trainingwrite@data-science.cjkghcc9gsud.us-east-1.rds.amazonaws.com:5432/db3')
%time df.to_sql('teste1k', engine,if_exists='replace') # 1000 linhas em 157 segundos

CPU times: user 147 ms, sys: 72 ms, total: 219 ms
Wall time: 3min 49s

Método raiz (muito mais rapido e eficiente de mandar uma tabela)

In [6]:
## faster edition

table_name = 'big_table' 
%time df.head(0).to_sql(table_name, engine, if_exists='replace',index=False) #truncates the table
%time df = pd.DataFrame({'col1':np.random.random(100000) , 'col2':np.random.random(100000)})

%time conn = engine.raw_connection()
%time cur = conn.cursor()
%time output = io.StringIO()
%time df.to_csv(output, sep='\t', header=False, index=False)
%time output.seek(0)
%time contents = output.getvalue()
%time cur.copy_from(output, table_name, null="") # 100mil linhas em 11 segundos
%time conn.commit()

CPU times: user 15.6 ms, sys: 2.73 ms, total: 18.3 ms
Wall time: 5.46 s
CPU times: user 5.73 ms, sys: 1.24 ms, total: 6.97 ms
Wall time: 6.22 ms
CPU times: user 415 µs, sys: 129 µs, total: 544 µs
Wall time: 335 µs
CPU times: user 15 µs, sys: 1 µs, total: 16 µs
Wall time: 20 µs
CPU times: user 5 µs, sys: 0 ns, total: 5 µs
Wall time: 9.06 µs
CPU times: user 391 ms, sys: 19.8 ms, total: 411 ms
Wall time: 412 ms
CPU times: user 5 µs, sys: 0 ns, total: 5 µs
Wall time: 7.87 µs
CPU times: user 4 µs, sys: 0 ns, total: 4 µs
Wall time: 7.87 µs
CPU times: user 42.3 ms, sys: 31.5 ms, total: 73.8 ms
Wall time: 12.8 s
CPU times: user 432 µs, sys: 104 µs, total: 536 µs
Wall time: 171 ms