<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#O-que-é-Análise-exploratória-de-Dados?" data-toc-modified-id="O-que-é-Análise-exploratória-de-Dados?-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>O que é Análise exploratória de Dados?</a></span><ul class="toc-item"><li><span><a href="#Etapas" data-toc-modified-id="Etapas-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Etapas</a></span></li><li><span><a href="#Problema:" data-toc-modified-id="Problema:-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Problema:</a></span></li></ul></li><li><span><a href="#Abrindo-o-arquivo-e-acessando-os-dados" data-toc-modified-id="Abrindo-o-arquivo-e-acessando-os-dados-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Abrindo o arquivo e acessando os dados</a></span></li><li><span><a href="#Medidas-de-Centralidade" data-toc-modified-id="Medidas-de-Centralidade-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Medidas de Centralidade</a></span><ul class="toc-item"><li><span><a href="#Média" data-toc-modified-id="Média-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Média</a></span><ul class="toc-item"><li><span><a href="#Fazendo-a-média-com-nosso-arquivo-original" data-toc-modified-id="Fazendo-a-média-com-nosso-arquivo-original-3.1.1"><span class="toc-item-num">3.1.1&nbsp;&nbsp;</span>Fazendo a média com nosso arquivo original</a></span></li><li><span><a href="#Calculando-a-média-de-Salario,-anos-de-estudo-e-idade-no-mesmo-código." data-toc-modified-id="Calculando-a-média-de-Salario,-anos-de-estudo-e-idade-no-mesmo-código.-3.1.2"><span class="toc-item-num">3.1.2&nbsp;&nbsp;</span>Calculando a média de Salario, anos de estudo e idade no mesmo código.</a></span></li></ul></li><li><span><a href="#Mediana" data-toc-modified-id="Mediana-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Mediana</a></span><ul class="toc-item"><li><span><a href="#Função-para-calcular-a-Mediana-com-Dicionarios" data-toc-modified-id="Função-para-calcular-a-Mediana-com-Dicionarios-3.2.1"><span class="toc-item-num">3.2.1&nbsp;&nbsp;</span>Função para calcular a Mediana com Dicionarios</a></span></li></ul></li><li><span><a href="#Moda" data-toc-modified-id="Moda-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Moda</a></span></li></ul></li><li><span><a href="#Prévia-da-resposta-para-o-nosso-problema.-As-homens-ganham-mais-do-que-as-mulheres?-Quanto?" data-toc-modified-id="Prévia-da-resposta-para-o-nosso-problema.-As-homens-ganham-mais-do-que-as-mulheres?-Quanto?-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Prévia da resposta para o nosso problema. As homens ganham mais do que as mulheres? Quanto?</a></span></li></ul></div>

# Data Science


-> Método Cientifico:

In [1]:
from IPython.display import HTML

HTML('<iframe width="560" height="315" src="https://www.youtube.com/embed/q40uPdnyhp0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>')

# Análise exploratória de dados

<br>
<img src="img/EDA.jpg">
<br>


## O que é Análise exploratória de Dados?

Em estatística, a **análise exploratória de dados (AED)** é uma abordagem à análise de conjuntos de dados de modo a resumir suas características principais, frequentemente com métodos visuais. Um modelo estatístico pode ou não ser usado, mas primariamente a AED tem como objetivo observar o que os dados podem nos dizer além da modelagem formal ou do processo de teste de hipóteses. A análise exploratória de dados foi promovida pelo estatístico norte-americano John Tukey, que incentivava os estatísticos a explorar os dados e possivelmente formular hipóteses que poderiam levar a novas coletas de dados e experimentos. A **AED** é diferente da análise inicial de dados (AID), que se concentra mais estreitamente em verificar os pressupostos exigidos para ajuste de modelos e teste de hipóteses, além de manusear valores faltantes e fazer transformações de variáveis conforme necessário. A análise exploratória de dados abrange a AID.

A análise exploratória de dados emprega grande variedade de técnicas gráficas e quantitativas, visando maximizar a obtenção de informações ocultas na sua estrutura, descobrir variáveis importantes em suas tendências, detectar comportamentos anômalos do fenômeno, testar se são válidas as hipóteses assumidas, escolher modelos e determinar o número ótimo de variáveis.

Os softwares atualmente disponíveis possibilitam que esta técnica se constitua em uma ferramenta para descobrir quais tendências, relações e padrões podem estar ocultos em uma coleção de dados analisados. Seguindo as diretrizes propostas por Tukey, os investigadores deveriam iniciar sua análise pelo exame dos dados disponíveis e depois decidir qual técnica aplicar para resolver o problema. 

### Etapas

(Existe vários frameworks diferentes com essas etapas, e certamenta alguns funcionam melhor que outros dependendo do problema enfrentado. Até mesmo as perguntas mais elementares como "Entendendo o Problema" pode ser que não exista em algum caso especifico, então usem como um guia, não como a verdade).

Etapas básicas:

1. **Entendendo o Problema**. De longe a etapa mais importante e potêncialmente a mais dificil do problema
    
2. **Entendendo os Dados**. Na aula de hoje focaremos nesta etapa. Faremos um overview sobre os dados e analisaremos as medidas de centralidade.
    
3. **Analise Univariada**. Na próxima aula iremos um pouco além, entendendo mais a fundo as estatisticas descritivas dos dados.
    
4. **Outliers, Nulos e outros**. Nessa etapa, trataremos os dados para que façam sentido para os nossos algoritmos.
    
5. **Analise Multivariada**. Aqui vamos entender como as variaveis estão relacionadas entre si.
    
6. **Inferências e Relações Causais**. Por último vamos responder nossa pergunta
    
    
    
    
### Problema:

- Muito se fala de desigualdade salarial entre generos. Existe desigualdade? E se sim, de quanto ela é?

## Abrindo o arquivo e acessando os dados

In [2]:
import csv


with open(r'data/data.csv', 'r') as data_csv:
    data = csv.reader(data_csv)
    print(type(data))

<class '_csv.reader'>

In [3]:

with open(r'data/data.csv', 'r') as data_csv:
    data = csv.reader(data_csv)
    
    contador = 0
    for row in data:
        print(row)
        contador = contador + 1
        
#         print(row[2],row[4],row[6])
        if contador == 10:
            break

['seq', 'id', 'idade', 'sexo', 'anos_estudo', 'cor/raca', 'salario', 'estado_civil', 'regiao']
['0', '11001901101.0', '53', 'homem', '5.0', 'Parda', '63600.0', '1.0', 'norte']
['1', '11001901102.0', '49', 'mulher', '8.0', 'Amarela', '', '1.0', 'norte']
['2', '11001901103.0', '22', 'mulher', '11.0', 'Indigena', '4352.400390625', '0.0', 'nordeste']
['3', '11001903101.0', '55', 'homem', '15.0', 'Amarela', '96600.0', '1.0', 'norte']
['4', '11001903102.0', '56', 'mulher', '15.0', 'Amarela', '157800.0', '1.0', 'norte']
['5', '11001903103.0', '30', 'mulher', '15.0', 'Amarela', '88550.0', '0.0', 'nordeste']
['6', '11001904101.0', '52', 'mulher', '5.0', 'Branca', '6734.400390625', '0.0', 'norte']
['7', '11001904104.0', '29', 'homem', '5.0', 'Parda', '14875.20068359375', '0.0', 'norte']
['8', '11001904105.0', '29', 'mulher', '11.0', 'Parda', '6734.400390625', '0.0', 'norte']

In [4]:
type(row)

list

In [5]:
type(row[1])

str

## Medidas de Centralidade

### Média


*fonte: Wikipedia*

Em estatística, média é definida como o valor que mostra para onde se concentram os dados de uma distribuição como o ponto de equilíbrio das frequências em um histograma. Média também é interpretada como um valor significativo de uma lista de números. Os valores de uma lista de números podem ser representados por meio da escolha aleatória de um número. Se todos os números forem iguais, o número escolhido aleatoriamente será a média. Então, a média pode ser calculada por meio da combinação dos números de maneira específica e da geração de um valor significativo. Entretanto, a palavra média é usualmente usada em métodos mais sofisticados como média aritmética, mediana, moda, entre outros.

Seguindo uma definição mais informal de "média", pode-se assumir que no campo da estatística, dados possuem posições. Por exemplo, cada valor dos lançamentos de um dado possui sua posição em uma planilha eletrônica. Em estatística, média é uma medida de posição que indica um valor uniforme dos dados. Por exemplo, o conjunto x = { 2 , 1 , 6 , 5 , 10 } possui média aritmética 4,8. Embora 4,8 seja o valor médio, ele não é o valor central definido pela mediana.


<br>
<img src="img/media.png">
<br>


A **média** é calculada por:

$$ \overline x = \frac{1}{n} \sum_i x_i $$

Por exemplo, para a mostra 8, 5, 3, -1, e -5, a média é:

In [6]:
numbers = [8,5,3,-1,-5]

somatorio = 0
for number in numbers:
    somatorio += number
    print(f'Somando {number} + {somatorio-number} = {somatorio}')
    
media = somatorio/len(numbers)
print('\nmédia:',media)

Somando 8 + 0 = 8
Somando 5 + 8 = 13
Somando 3 + 13 = 16
Somando -1 + 16 = 15
Somando -5 + 15 = 10

média: 2.0

#### Fazendo a média com nosso arquivo original

In [41]:
with open(r'data/data.csv', 'r') as data_csv:
    data = csv.reader(data_csv)
    
    lista_exemplo = []
    somatorio = 0
    for i, line in enumerate(data):
        if i>0:
            somatorio +=  int(line[2])
            lista_exemplo.append(line[2])
            

media = round(somatorio/len(lista_exemplo),2)

print(f'Média da coluna Idade: {media}')

Média da coluna Idade: 37.63

#### Calculando a média de Salario, anos de estudo e idade no mesmo código.

In [8]:
somatorio_idade = 0
somatorio_estudo = 0
somatorio_salario = 0


with open(r'data/data.csv', 'r') as data_csv:
    data = csv.reader(data_csv)
    
    lista_exemplo = []
    somatorio = 0
    for i, row in enumerate(data):
        if i>0:
            print(row)
            somatorio_idade += int(row[2])
            somatorio_estudo += float(row[4])
            somatorio_salario += float(row[6])
            
        
media_idade = round(somatorio_idade/i,2)
media_estudo = round(somatorio_estudo/i,2)
media_salario = round(somatorio_salario/i,2)


print(f'Média da coluna Idade: {media_idade}')
print(f'Média da coluna Anos de Estudo: {media_estudo}')
print(f'Média da coluna Salario: {media_salario}')

['0', '11001901101.0', '53', 'homem', '5.0', 'Parda', '63600.0', '1.0', 'norte']
['1', '11001901102.0', '49', 'mulher', '8.0', 'Amarela', '', '1.0', 'norte']

ValueError: could not convert string to float:

In [9]:
# As linhas NULAS não podem ser convertidas em valores números?
# Como resolver ? Podemos criar uma FUNÇÃO que resolve isso?

In [10]:
def substitui_nulo_por_zero(entrada):

    #
    #
    #

    #return saida

SyntaxError: unexpected EOF while parsing (<ipython-input-10-42147fe43dc9>, line 7)

In [11]:
somatorio_idade = 0
somatorio_estudo = 0
somatorio_salario = 0


with open(r'data/data.csv', 'r') as data_csv:
    data = csv.reader(data_csv)
    
    substitui_nulo_por_zero(data)
    
    lista_exemplo = []
    somatorio = 0
    
    for i, row in enumerate(data):
        
        if i>0:
            print(row)
            somatorio_idade += int(row[2])
            somatorio_estudo += float(row[4])
            somatorio_salario += float(row[6])
            
        
media_idade = round(somatorio_idade/i,2)
media_estudo = round(somatorio_estudo/i,2)
media_salario = round(somatorio_salario/i,2)


print(f'Média da coluna Idade: {media_idade}')
print(f'Média da coluna Anos de Estudo: {media_estudo}')
print(f'Média da coluna Salario: {media_salario}')

NameError: name 'substitui_nulo_por_zero' is not defined

### Mediana



Mediana é o valor que separa a metade maior e a metade menor de uma amostra, uma população ou uma distribuição de probabilidade. Em termos mais simples, mediana pode ser o valor do meio de um conjunto de dados. No conjunto de dados {1, 3, 3, 6, 7, 8, 9}, por exemplo, a mediana é 6. Se houver um número par de observações, não há um único valor do meio. Então, a mediana é definida como a média dos dois valores do meio. No conjunto de dados {3, 5, 7, 9}, a mediana é (5 + 7) / 2 = 6.

A mediana é uma medida comum das propriedades de conjuntos de dados em estatística e em teoria das probabilidades, com importância central na estatística robusta. A estatística robusta é mais resistente, com ponto de ruptura de 50%. A mediana não fornece resultados arbitrariamente grandes desde que mais da metade dos dados não esteja contaminada.

A vantagem da mediana em relação à média é que a mediana pode dar uma ideia melhor de um valor típico porque não é tão distorcida por valores extremamente altos ou baixos. Em estudos estatísticos sobre renda familiar ou outros ativos voláteis, a média pode ser distorcida por um pequeno número de valores extremamente altos ou baixos. 

Exemplos:

- Ímpar:
		[1, 2, 3, 5, 7, 8, 9, 10, 15]
		#elementos: 9
		A mediana é o valor da posição 5 (a posição do “meio”)
		Mediana =  7
        
        
- Par: 
		[-5, -1, 0, 1, 2, 3, 8, 20]
		#elementos: 8
		A mediana é a média dos valores nas duas posições centrais
		Mediana =  (1+2)/2 = 1.5

#### Função para calcular a Mediana com Dicionarios

Vamos criar um looping para procurar a pessoa mais velha da base

In [12]:
max_age = None
oldest_person = None

input_file = csv.DictReader(open(r'data/data.csv', 'r'))

for row in input_file:
    age = int(row["idade"])
    if max_age == None or max_age < age:
        max_age = age
        oldest_person = row["id"]

if max_age != None:
    print("A pessoa mais velha na base é o id %s, que tem %d anos." % (oldest_person, max_age))
else:
    print("Não tem ninguém nesse arquivo")

A pessoa mais velha na base é o id 11002710101.0, que tem 60 anos.

Procurando a pessoa mais nova da base

#### Calculando a mediana

### Moda


Em estatística, moda é uma das medidas de tendência central de um conjunto de dados, assim como a média e a mediana. Ela pode ser definida em moda amostral e populacional.

Em relação à primeira delas, a moda amostral de um conjunto de dados trata do valor que ocorre com maior frequência ou o valor mais comum em um conjunto de dados. Moda é especialmente útil quando os valores ou as observações não são numéricos, casos em que a média e a mediana não podem ser definidas. 

Moda amostral não é necessariamente única como média ou mediana. Amostras que possuem uma moda são chamadas unimodais. Por exemplo, a amostra {1, 2, 3, 5, 5, 6, 7} tem moda 5. Amostras que possuem duas modas são chamadas bimodais. Por exemplo, a amostra {1, 2, 3, 5, 5, 6, 6} tem modas 5 e 6. Amostras que possuem várias modas são chamadas multimodais. Por exemplo, a amostra {1, 2 3, 5, 5, 6, 6, 7, 7} tem modas 5, 6 e 7. Amostras que não possuem moda são chamadas amodais. Por exemplo, a amostra {1, 3, 2, 5, 7, 6} não tem moda. 

Por exemplo, a moda de [0,1,1,2,2,2,2,3,3,4,4,4,5] é 2.

A moda não é necessariamente única. Pode ser que existam dois valores diferentes que sejam os mais frequentes. Por exemplo, no caso de [10, 13, 13, 20, 20], tanto 13 como 20 são a moda.

<br>
<img src="img/moda2.png">
<br>

Material complementar para dicionarios python: http://excript.com/python/funcoes-dicionarios.html

In [13]:
input_file = csv.DictReader(open(r'data/data.csv', 'r') )

contador = 0
for row in input_file:
    contador += 1
    if contador <= 10:
        print('\n', row)

 OrderedDict([('seq', '0'), ('id', '11001901101.0'), ('idade', '53'), ('sexo', 'homem'), ('anos_estudo', '5.0'), ('cor/raca', 'Parda'), ('salario', '63600.0'), ('estado_civil', '1.0'), ('regiao', 'norte')])

 OrderedDict([('seq', '1'), ('id', '11001901102.0'), ('idade', '49'), ('sexo', 'mulher'), ('anos_estudo', '8.0'), ('cor/raca', 'Amarela'), ('salario', ''), ('estado_civil', '1.0'), ('regiao', 'norte')])

 OrderedDict([('seq', '2'), ('id', '11001901103.0'), ('idade', '22'), ('sexo', 'mulher'), ('anos_estudo', '11.0'), ('cor/raca', 'Indigena'), ('salario', '4352.400390625'), ('estado_civil', '0.0'), ('regiao', 'nordeste')])

 OrderedDict([('seq', '3'), ('id', '11001903101.0'), ('idade', '55'), ('sexo', 'homem'), ('anos_estudo', '15.0'), ('cor/raca', 'Amarela'), ('salario', '96600.0'), ('estado_civil', '1.0'), ('regiao', 'norte')])

 OrderedDict([('seq', '4'), ('id', '11001903102.0'), ('idade', '56'), ('sexo', 'mulher'), ('anos_estudo', '15.0'), ('cor/raca', 'Amarela'), ('salario', '157800.0'), ('estado_civil', '1.0'), ('regiao', 'norte')])

 OrderedDict([('seq', '5'), ('id', '11001903103.0'), ('idade', '30'), ('sexo', 'mulher'), ('anos_estudo', '15.0'), ('cor/raca', 'Amarela'), ('salario', '88550.0'), ('estado_civil', '0.0'), ('regiao', 'nordeste')])

 OrderedDict([('seq', '6'), ('id', '11001904101.0'), ('idade', '52'), ('sexo', 'mulher'), ('anos_estudo', '5.0'), ('cor/raca', 'Branca'), ('salario', '6734.400390625'), ('estado_civil', '0.0'), ('regiao', 'norte')])

 OrderedDict([('seq', '7'), ('id', '11001904104.0'), ('idade', '29'), ('sexo', 'homem'), ('anos_estudo', '5.0'), ('cor/raca', 'Parda'), ('salario', '14875.20068359375'), ('estado_civil', '0.0'), ('regiao', 'norte')])

 OrderedDict([('seq', '8'), ('id', '11001904105.0'), ('idade', '29'), ('sexo', 'mulher'), ('anos_estudo', '11.0'), ('cor/raca', 'Parda'), ('salario', '6734.400390625'), ('estado_civil', '0.0'), ('regiao', 'norte')])

 OrderedDict([('seq', '9'), ('id', '11001905101.0'), ('idade', '46'), ('sexo', 'mulher'), ('anos_estudo', '15.0'), ('cor/raca', 'Branca'), ('salario', '54300.0'), ('estado_civil', '1.0'), ('regiao', 'norte')])

In [14]:
row

OrderedDict([('seq', '66469'),
             ('id', '53117018102.0'),
             ('idade', '37'),
             ('sexo', 'homem'),
             ('anos_estudo', '5.0'),
             ('cor/raca', 'Preta'),
             ('salario', '460.3500061035156'),
             ('estado_civil', '1.0'),
             ('regiao', 'centro-oeste')])

In [15]:
row['idade']

'37'

In [16]:
row['regiao']

'centro-oeste'

Criando a tabela como um dicionario

In [17]:
row

OrderedDict([('seq', '66469'),
             ('id', '53117018102.0'),
             ('idade', '37'),
             ('sexo', 'homem'),
             ('anos_estudo', '5.0'),
             ('cor/raca', 'Preta'),
             ('salario', '460.3500061035156'),
             ('estado_civil', '1.0'),
             ('regiao', 'centro-oeste')])

In [18]:
dict_table = dict()
dict_table = {}

with open(r'data/data.csv', 'r') as data_csv:
    data = csv.reader(data_csv)
    header = next(data, None)
    
    for row in data:    
        dict_table[row[1]] = {'idade':row[2], 'sexo':row[3], 'anos_estudo':row[4], 'salario': row[6]}

In [19]:
'11027211101.0' in dict_table

True

In [20]:
dict_table['11027211101.0']

{'idade': '53', 'sexo': 'homem', 'anos_estudo': '5.0', 'salario': '7128.0'}

In [21]:
dict_table['11027211101.0']['anos_estudo']

'5.0'

In [22]:
dict_table['11027211101.0']['anos_estudo'] = '6'

In [23]:
dict_table['11027211101.0']

{'idade': '53', 'sexo': 'homem', 'anos_estudo': '6', 'salario': '7128.0'}

In [24]:
del dict_table['11027211101.0']

In [25]:
dict_table['11027211101.0']

KeyError: '11027211101.0'

In [26]:
def create_text_histogram(txt):
    dictionary = {}
    i=0
    for x in set(txt): # função set
        dictionary[x] = txt.count(x)
    return dictionary

In [27]:
create_text_histogram(txt='teste de frase comprida para histograma')

{'t': 3,
 'd': 2,
 'c': 1,
 'e': 4,
 'g': 1,
 's': 3,
 'a': 6,
 'o': 2,
 'p': 2,
 'f': 1,
 'h': 1,
 'i': 2,
 'm': 2,
 'r': 4,
 ' ': 5}

In [28]:
contagem_idades = {}

with open(r'data/data.csv', 'r') as data_csv:
    data = csv.reader(data_csv)
    header = next(data, None)
    
    idades = []
    for row in data:
        idades.append(row[2])

In [29]:
histograma_idades = create_text_histogram(idades)

In [30]:
type(histograma_idades)

dict

In [31]:
histograma_idades

{'50': 1461,
 '49': 1429,
 '32': 1852,
 '27': 2017,
 '45': 1627,
 '60': 951,
 '31': 1796,
 '56': 1087,
 '28': 2056,
 '47': 1446,
 '23': 2014,
 '59': 999,
 '30': 1996,
 '22': 2034,
 '42': 1673,
 '33': 1812,
 '26': 2040,
 '39': 1759,
 '44': 1688,
 '57': 1092,
 '41': 1552,
 '48': 1505,
 '43': 1699,
 '58': 969,
 '35': 1672,
 '55': 1133,
 '21': 1987,
 '36': 1723,
 '38': 1727,
 '46': 1566,
 '20': 2104,
 '54': 1221,
 '29': 1943,
 '25': 2014,
 '51': 1260,
 '53': 1249,
 '34': 1737,
 '52': 1244,
 '40': 1732,
 '37': 1712,
 '24': 1892}

In [32]:
histograma_idades.keys()

dict_keys(['50', '49', '32', '27', '45', '60', '31', '56', '28', '47', '23', '59', '30', '22', '42', '33', '26', '39', '44', '57', '41', '48', '43', '58', '35', '55', '21', '36', '38', '46', '20', '54', '29', '25', '51', '53', '34', '52', '40', '37', '24'])

In [33]:
histograma_idades.values()

dict_values([1461, 1429, 1852, 2017, 1627, 951, 1796, 1087, 2056, 1446, 2014, 999, 1996, 2034, 1673, 1812, 2040, 1759, 1688, 1092, 1552, 1505, 1699, 969, 1672, 1133, 1987, 1723, 1727, 1566, 2104, 1221, 1943, 2014, 1260, 1249, 1737, 1244, 1732, 1712, 1892])

In [34]:
histograma_idades.items()

dict_items([('50', 1461), ('49', 1429), ('32', 1852), ('27', 2017), ('45', 1627), ('60', 951), ('31', 1796), ('56', 1087), ('28', 2056), ('47', 1446), ('23', 2014), ('59', 999), ('30', 1996), ('22', 2034), ('42', 1673), ('33', 1812), ('26', 2040), ('39', 1759), ('44', 1688), ('57', 1092), ('41', 1552), ('48', 1505), ('43', 1699), ('58', 969), ('35', 1672), ('55', 1133), ('21', 1987), ('36', 1723), ('38', 1727), ('46', 1566), ('20', 2104), ('54', 1221), ('29', 1943), ('25', 2014), ('51', 1260), ('53', 1249), ('34', 1737), ('52', 1244), ('40', 1732), ('37', 1712), ('24', 1892)])

In [35]:
for key in sorted(histograma_idades.keys()):
    print("%s: %s" % (key, histograma_idades[key]))

20: 2104
21: 1987
22: 2034
23: 2014
24: 1892
25: 2014
26: 2040
27: 2017
28: 2056
29: 1943
30: 1996
31: 1796
32: 1852
33: 1812
34: 1737
35: 1672
36: 1723
37: 1712
38: 1727
39: 1759
40: 1732
41: 1552
42: 1673
43: 1699
44: 1688
45: 1627
46: 1566
47: 1446
48: 1505
49: 1429
50: 1461
51: 1260
52: 1244
53: 1249
54: 1221
55: 1133
56: 1087
57: 1092
58: 969
59: 999
60: 951

#### Calculando a moda

## Prévia da resposta para o nosso problema. As homens ganham mais do que as mulheres? Quanto?

In [36]:
with open(r'data/data.csv', 'r') as data_csv:
    data = csv.reader(data_csv)
    
    lista_homem = []
    somatorio = 0.0
    for i, line in enumerate(data):
        if i < 10 and i>0:
            if line[3] == 'homem':
                somatorio +=  float(line[6])
                lista_homem.append(line[6])
            

media = round(somatorio/len(lista_homem),2)

print(f'Média salário homem: {media}')

Média salário homem: 58358.4

In [37]:
with open(r'data/data.csv', 'r') as data_csv:
    data = csv.reader(data_csv)
    
    lista_mulher = []
    somatorio = 0.0
    for i, line in enumerate(data):
        if i < 10 and i>0:
            if line[3] == 'mulher':
                somatorio +=  float(line[6])
                lista_mulher.append(line[6])
            

media = round(somatorio/len(lista_mulher),2)

print(f'Média salário mulher: {media}')

ValueError: could not convert string to float: